*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  word-break: break-all; }

html, body {
  overflow-x: hidden; }

h1, h2, h3, h4, h5, h6 {
  margin: 0; }

h2 {
  margin-bottom: 50px;
  font-size: 32px; }

h3 {
  font-size: 22px; }

p {
  margin-top: 0;
  letter-spacing: 1px; }

a {
  text-decoration: none; }

ul {
  margin: 0;
  padding: 0; }

li {
  list-style-type: none;
  float: left; }

img {
  vertical-align: top; }

.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 40px; }

.col-4, .col-5, .col-7 {
  float: left; }

.col-4 {
  width: 33.33333%; }

.col-5 {
  width: 41.66667%; }

.col-7 {
  width: 58.33333%; }

#content > div {
  padding: 80px 0; }

.clearfix:after, .row:after {
  content: '';
  display: block;
  clear: both; }

#header .cover {
  padding: 180px 0;
  text-align: center;
  background: #a6dcde;
  background: -moz-linear-gradient(left, #a6dcde 0%, #d6eaeb 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, #a6dcde), color-stop(100%, #d6eaeb));
  background: -webkit-linear-gradient(left, #a6dcde 0%, #d6eaeb 100%);
  background: -o-linear-gradient(left, #a6dcde 0%, #d6eaeb 100%);
  background: -ms-linear-gradient(left, #a6dcde 0%, #d6eaeb 100%);
  background: linear-gradient(to right, #a6dcde 0%, #d6eaeb 100%);
  color: white; }
  #header .cover .info {
    display: inline-block; }
    #header .cover .info h1 {
      padding: 10px 0;
      font-size: 3.5em; }

#header .nav {
  text-align: center;
  background-color: #7AD8B8;
  font-size: 0; }
  #header .nav ul {
    display: inline-block;
    vertical-align: top; }
    #header .nav ul li:hover {
      background-color: #F3F1F3; }
    #header .nav ul a {
      display: inline-block;
      padding: 20px 50px;
      text-decoration: none;
      transition: color .4s ease, transform .4s ease;
      font-size: 20px;
      color: white;
      letter-spacing: 2px; }
      #header .nav ul a:hover {
        transform: scale(1.3) rotate(-20deg);
        color: black; }

#content .about h2 {
  text-align: center; }

#content .about .col-5 {
  text-align: center; }
  #content .about .col-5 img {
    width: 60%;
    height: auto;
    border-radius: 50%; }

#content .about .col-7 .media {
  padding-top: 40px; }
  #content .about .col-7 .media ul li {
    margin-right: 20px;
    margin-bottom: 20px; }
  #content .about .col-7 .media ul a {
    display: inline-block;
    border-radius: 4px;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    background-color: #8DD4D4;
    color: white;
    font-size: 32px; }

#content .educations {
  background-color: #F3F1F3; }
  #content .educations h2 {
    text-align: center; }
  #content .educations .list ul {
    width: 60%;
    margin: 0 auto; }
    #content .educations .list ul li {
      float: none;
      border-left: 20px solid #7AD8B8;
      padding: 15px 10px;
      margin-bottom: 10px; }
      #content .educations .list ul li:nth-child(2n) {
        padding: 10px;
        border: none;
        text-align: right;
        border-bottom: 1px solid #7AD8B8; }

#content .skills h2 {
  text-align: center;
  margin-bottom: 100px; }

#content .skills .row .col-4 {
  width: calc((100% - 80px) / 3);
  border-radius: 4px;
  position: relative; }
  #content .skills .row .col-4:after {
    content: '';
    display: block;
    position: absolute;
    z-index: 0;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    width: 90%;
    height: 95%;
    opacity: 0;
    transition: all .4s;
    border: 10px solid white; }
  #content .skills .row .col-4:hover:after {
    opacity: 1; }

#content .skills .row .mark {
  position: relative;
  z-index: 1;
  width: 100px;
  height: 100px;
  margin: 0 auto;
  border-radius: 50%;
  background-color: #F3F1F3;
  margin-top: -50px;
  font-size: 3em;
  text-align: center;
  line-height: 100px; }

#content .skills .row ul, #content .skills .row h3 {
  padding: 20px 40px 20px 40px; }

#content .skills .row li {
  float: none;
  border-bottom: 1px solid #969696;
  margin-bottom: 20px;
  line-height: 2; }

#content .skills .col-4 + .col-4 {
  margin-left: 40px; }

#content .skills .col-4:first-child {
  background-color: #8DD4D4; }

#content .skills .col-4:nth-child(2) {
  background-color: #F8F6D3; }

#content .skills .col-4:last-child {
  background-color: #7AD8B8; }

#content .experiences {
  background-color: #F3F1F3; }
  #content .experiences h2 {
    text-align: center; }
  #content .experiences .area {
    position: relative; }
    #content .experiences .area:after {
      content: '';
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 0;
      width: 1px;
      height: 100%;
      background-color: #969696; }
    #content .experiences .area .experience {
      position: relative;
      margin-bottom: 40px; }
      #content .experiences .area .experience time {
        display: inline-block;
        position: absolute;
        top: 13px;
        left: calc(50% - 50px - 1px - 20px);
        transform: translateX(-50%);
        color: #969696; }
        #content .experiences .area .experience time:after {
          content: '-';
          padding: 0 10px; }
      #content .experiences .area .experience:nth-child(2n) time {
        left: auto;
        transform: translateX(50%);
        right: calc(50% - 50px - 1px - 20px); }
        #content .experiences .area .experience:nth-child(2n) time:after {
          content: none;
          padding: none; }
        #content .experiences .area .experience:nth-child(2n) time:before {
          content: '-';
          padding: 0 10px; }
      #content .experiences .area .experience .needle {
        position: absolute;
        top: 0;
        left: 50%;
        z-index: 1;
        transform: translateX(-50%);
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-color: #7AD8B8;
        text-align: center;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
        color: white;
        font-size: 32px;
        line-height: 50px;
        box-shadow: 0 -1px 0 #e0e0e0, 0 0 2px rgba(0, 0, 0, 0.12), 0 2px 4px rgba(0, 0, 0, 0.1); }
      #content .experiences .area .experience .row {
        width: calc(50% - 41px);
        padding: 20px;
        background-color: white;
        border-radius: 4px;
        position: relative;
        box-shadow: 0 3px 10px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23); }
        #content .experiences .area .experience .row:before {
          content: '';
          display: block;
          position: absolute;
          z-index: 0;
          top: 10px;
          left: -15px;
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 10px 20px 10px 0;
          border-color: transparent white transparent transparent; }
        #content .experiences .area .experience .row .col-5 img {
          width: 100%;
          height: auto; }
        #content .experiences .area .experience .row .col-7 {
          padding-left: 20px; }
      #content .experiences .area .experience:nth-child(2n) .row:before {
        left: auto;
        right: -15px;
        border-width: 10px 0 10px 20px;
        border-color: transparent transparent transparent white; }
      #content .experiences .area .experience:nth-child(2n+1) .row {
        float: right; }

#content .projects h2 {
  text-align: center; }

#content .projects .row {
  margin-bottom: 40px; }
  #content .projects .row .col-5 a {
    display: block; }
    #content .projects .row .col-5 a img {
      width: 100%;
      height: auto; }
  #content .projects .row .col-7 {
    padding-left: 40px; }
  #content .projects .row:last-child .col-5 {
    position: relative;
    left: 58.33333%; }
  #content .projects .row:last-child .col-7 {
    position: relative;
    right: 41.66667%;
    padding-left: 0;
    padding-right: 40px; }

#content .autobiography {
  border-top: 1px solid #C1C3C7; }
  #content .autobiography h2 {
    text-align: center; }
  #content .autobiography p {
    line-height: 1.8; }

#footer {
  padding: 50px 0;
  background-color: #F8F6D3; }
  #footer p {
    margin: 0;
    text-align: center; }

#top {
  display: inline-block;
  padding: 20px 15px;
  border-radius: 50%;
  font-size: 1.4em;
  color: white;
  background-color: #8DD4D4;
  position: fixed;
  right: 20px;
  bottom: 40px; }

* {
  border: 1px solid #38967E; }
