@media screen and (max-width: 991px) {
  #header .nav ul a {
    padding: 20px 40px; } }

@media screen and (max-width: 862px) {
  #header .nav ul a {
    padding: 20px 30px; } }

@media screen and (max-width: 767px) {
  #header .side-bar {
    display: block;
    background-color: #7AD8B8;
    position: fixed;
    z-index: 500;
    width: 100%; }
    #header .side-bar .menu {
      width: 80px;
      height: 60px;
      float: right;
      border: 2px solid white;
      background-color: #7AD8B8;
      position: relative;
      z-index: 502;
      margin: 10px; }
      #header .side-bar .menu:before, #header .side-bar .menu:after {
        content: '';
        display: block;
        width: 50px;
        height: 4px;
        background-color: white; }
      #header .side-bar .menu:before, #header .side-bar .menu:after, #header .side-bar .menu .hamburger {
        margin: 11.5px auto; }
      #header .side-bar .menu .hamburger {
        width: 50px;
        height: 4px;
        background-color: white; }
      #header .side-bar .menu.active:before, #header .side-bar .menu.active:after {
        position: absolute;
        top: 50%;
        left: 50%;
        margin: 0; }
      #header .side-bar .menu.active:before {
        transform: translate(-50%, -50%) rotate(45deg); }
      #header .side-bar .menu.active:after {
        transform: translate(-50%, -50%) rotate(-45deg); }
      #header .side-bar .menu.active .hamburger {
        opacity: 0;
        margin: 0; }
    #header .side-bar .menu-list {
      display: none;
      position: fixed;
      top: 0;
      left: 0;
      z-index: 501px;
      width: 100%;
      height: 100%;
      background-color: #F8F6D3; }
      #header .side-bar .menu-list ul {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        font-size: 16px; }
        #header .side-bar .menu-list ul li {
          float: none; }
          #header .side-bar .menu-list ul li a {
            display: inline-block;
            padding: 20px 50px;
            font-size: 32px;
            letter-spacing: 2px; }
    #header .side-bar .menu-list.active {
      display: block; }
  #header .nav {
    display: none; }
  #content .about .col-5 {
    width: 100%;
    margin-bottom: 40px; }
  #content .about .col-7 {
    width: 100%; }
    #content .about .col-7 .media {
      text-align: center; }
      #content .about .col-7 .media ul {
        display: inline-block;
        vertical-align: top; }
        #content .about .col-7 .media ul li {
          margin: 0;
          padding: 0 10px; }
  #content .skills .row .col-4 {
    width: 100%;
    margin-left: 0;
    text-align: center; }
    #content .skills .row .col-4:nth-child(1), #content .skills .row .col-4:nth-child(2) {
      margin-bottom: 90px; }
  #content .experiences .area:after {
    left: calc(0% + 94px + 25px); }
  #content .experiences .area .experience time {
    transform: none;
    left: 0; }
  #content .experiences .area .experience:nth-child(2n) time {
    left: 0;
    right: auto;
    transform: none; }
    #content .experiences .area .experience:nth-child(2n) time:after {
      content: '-';
      padding: 0 10px; }
    #content .experiences .area .experience:nth-child(2n) time:before {
      content: none; }
  #content .experiences .area .experience .needle {
    left: calc(0% + 94px + 25px); }
  #content .experiences .area .experience .row {
    width: calc(100% - 94px - 50px - 12px);
    left: calc(0% + 94px + 50px + 12px); }
  #content .experiences .area .experience:nth-child(2n) .row:before {
    left: -15px;
    right: auto;
    border-width: 10px 20px 10px 0;
    border-color: transparent white transparent transparent; }
  #content .experiences .area .experience:nth-child(2n+1) .row {
    float: none; } }

@media screen and (max-width: 575px) {
  #content .experiences h2 {
    margin-bottom: 100px; }
  #content .experiences .area:after {
    left: 50%; }
  #content .experiences .area .experience {
    margin-bottom: 120px; }
    #content .experiences .area .experience:last-child {
      margin-bottom: 0; }
    #content .experiences .area .experience time {
      background-color: #F3F1F3; }
    #content .experiences .area .experience:nth-child(n) time {
      top: -50px;
      left: 50%;
      transform: translateX(-50%); }
      #content .experiences .area .experience:nth-child(n) time:after {
        content: none; }
    #content .experiences .area .experience .needle {
      top: -30px;
      left: 50%;
      z-index: 11; }
    #content .experiences .area .experience .row {
      width: 100%;
      left: auto;
      z-index: 10; }
      #content .experiences .area .experience .row:before {
        display: none; }
  #content .projects .row .col-5 {
    margin-bottom: 20px; }
  #content .projects .row:nth-child(n) .col-5 {
    width: 100%;
    left: auto; }
  #content .projects .row:nth-child(n) .col-7 {
    width: 100%;
    right: auto;
    padding: 0; } }
