$skin: #F8F6D3
$green:  #7AD8B8
$green-lake: #8DD4D4
$white-light: #F3F1F3
$white: white
$black: black
$black-light: #969696



// 功能顏色變數
$border-color: $black-light

$cover-word-color: $white

$nav-bg-color: $green
$nav-word-color: $white
$nav-word-hover-word-color: $black
$nav-li-hover-bg-color: $white-light

$about-media-word-bg-color: $green-lake
$about-media-word-color: $white

$educations-list-li-border-color: $green

$skills-col4-1-bg-color: $green-lake
$skills-col4-2-bg-color: $skin
$skills-col4-3-bg-color: $green
$skills-col4-mark-bg-color: $white-light
$skills-col4-border-color: $white

$experiences-bg-color: $white-light
$experiences-needle-bg-color: $green
$experiences-needle-word-color: $white
$experiences-needle-word2-color: $black-light

$footer-bg-color: $skin

$top-bg-color: $green-lake

@media screen and (max-width: 1100px)
  .container
    max-width: 900px

  #header
    .nav
      ul
        a
          padding: 20px 40px

@media screen and (max-width: 900px)
  // .container
  //   max-width: 700px

  #header
    .nav
      ul
        a
          padding: 20px 30px
// @media screen and (max-width: 768px)
  
          
